* {
  box-sizing: border-box;
}

body {
  color: #40514e;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.25rem;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  color: #66bfbf;
  padding-bottom: 10px;
  z-index: 20;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #d2e0e0;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

/* Navbar */

#navbar {
  opacity: 0.9;
  padding: 0 5rem;
  background-color: #e4f9f5;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.nav-brand {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-brand:hover {
  color: rgb(23, 185, 214);
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item:hover {
  background-color: rgb(247, 251, 251);
}

.nav-link {
  display: block;
  padding: 5px 10px;
  white-space: nowrap;
}

/* Welcome Section */

#welcome-section {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
  height: 100vh;
}

#about-me {
  margin: 100px 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 80px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  top: 380px;
  left: 250px;
}

.mountain-img {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40vw;
  z-index: 0;
}

/* About Me Section */

.intro {
  width: 30%;
  margin: auto;
}

/* Projects Section*/

.project-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.project-row a {
  text-decoration: underline;
}

.project-row a:hover {
  color: #333;
}

.computer-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillies-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* Contact Me Section */

.contact-message {
  width: 40%;
  margin: 30px auto 40px;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Footer */

.bottom-container {
  margin-top: 100px;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

#profile-link {
  color: #11999e;
}

#profile-link:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
  opacity: 0.9;
}

/* Media Queries */

@media (max-width: 1100px) and (min-width: 850px) {
  h1 {
    margin-top: 5.5rem;
  }
}

@media (max-width: 1100px) {

  /* Welcome Section */
  .mountain-img {
    display: none;
  }

  .top-cloud {
    top: 20vh;
    right: 7vh;
  }
  
  .bottom-cloud {
    top: 82vh;
    left: 8vh;
  }
}

@media (max-width: 850px) {
  h1 {
    margin-top: 7.5rem;
    font-size: 4.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  /* Navbar */
  #navbar {
    padding: 0 2rem;
    flex-direction: column;
    align-items: center;
  }

  .nav-list {
    margin: 0;
  }

  /* About Me Section */
  .intro {
    width: 60vw;
  }

  /* Projects Section */
  .project-row {
    width: 75vw;
    text-align: justify;
  }

  .project-row a {
    margin: 0;
  }

  /* Contact Me Section */
  .contact-message {
    width: 75vw;
  }
}
